[submodule "vendor/Archipelago"]
	path = vendor/Archipelago
	url = https://github.com/ArchipelagoMW/Archipelago.git
[submodule "switch-mod/sys"]
	path = switch-mod/sys
	url = https://github.com/fruityloops1/LibHakkun.git
[submodule "switch-mod/lib/OdysseyHeaders"]
	path = switch-mod/lib/OdysseyHeaders
	url = https://github.com/MonsterDruide1/OdysseyHeaders.git
